.mensagem_card{
    width: 356px;
    height: 272px;
    border: inset 2px #000000;
    border-radius: 4px;
    padding: 1em;
    background: white;
    background-size: contain;
    margin-bottom: 24px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.325);
    position: relative;
    z-index: 2;
}

.mensagem_card h4{
    padding: .4em 0;
    position: relative;
}

.mensagem_card p{
    position: relative;
    padding-bottom: 1em;

}

