.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control :only-child:hover{
    background: #ffcc33;
}

.form_control label{
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_control select{
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

.form_control option:checked{
    background: #ffcc33;
}

.opt:hover{
    background: #ffcc33;
}
