.new_project_conteiner{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.new_project_conteiner h1{
    font-size: 2em;
    margin-bottom:  0.5em;
}

.new_project_conteiner p{
    color: #7b7b7b;
}