.footer{
    background-color: #051226;
    color: #FFF;
    padding: 1.1em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list a{
    text-decoration: none;
    color: #FFF;
}

.social_list li a:hover{
    color: #2699d0;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
    padding: -1em;
}

.social_list svg:hover{
    transform: translateY(-2px);
    transition: .2s ease-in-out;
}

.copy_right{
    margin-right: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #2699d0;
}