.btn{
    border: solid 1px #7a7a7a; 
    background-color: #fff;
    color: #222;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: .1s ease-in-out;
    font-weight: 500;
    border-radius: 4px;
}

.btn:hover{
    box-shadow: 0 0 4px  #7a7a7a;
}